.originalState {
	background-color: green;
	border: 1px solid black;
	width: 25%;
	float: left; 
	padding-bottom: 25%; 
},

.laura {
	background-color: yellow; 
	background-image: url("https://farm9.staticflickr.com/8608/16237423798_dc48d24514_b.jpg");
	background-size: 95% 95%;
  background-repeat: no-repeat; 

}

