.laura {
	background-image: url("https://farm9.staticflickr.com/8608/16237423798_dc48d24514_b.jpg");
	background-size: 100% 100%;
  background-repeat: no-repeat; 
}

/*.originalState {
	background-color: "green";
}*/